/*========================== CABEZA Y CUERPO ==========================*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: #e6e6e6;
}

header, .main, footer{
    background: #fff;
    width: 90%; /* NO HACE NADA PERO ESTA EN EL PDF*/
    max-width: 1000px;
    margin: 20px auto; /* EL AUTO es para izquierda y derecha y se acomoda automaticamente*/
}
/*========================== IMAGEN DINO ==========================*/
.dino{
    display: flex;
    justify-content: center; /* centra horizontalmente */
}

/*========================== BARRA MENU ==========================*/
nav{
    display: flex;
    background: #ff5e00;
    overflow: hidden; /*El contenido que excede se oculta y no aparece ni con barras de scroll*/
    justify-content: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left; /*flotará a la izquierda y el contenido siguiente fluirá a su derecha*/
}

nav ul li a{
    padding: 10px 20px;
    display: block; /*El elemento ocupará todo el ancho disponible de su contenedor padre, que es el nav*/
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    background: black;
}

/*========================== TEXTO ==========================*/
.main .articles{
    width: 68.5%;
    margin-right: 1.5%; /*El porcentaje del margen se refiere siempre al ancho del contenedor padre.*/
    float: left;
}

.main .articles article{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px; /* CREO QUE NO HACE NADA PERO ESTA EN EL PDF*/
}

p, li{
    font-size: 20px;
}

/*========================== PANEL DERECHO ==========================*/
aside{
    width: 30%;
    background: #f5f3f3;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

aside marquee img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

/*========================== PIE DE PAGINA ==========================*/
footer{
    background-color: #ff5e00;
    color: #fff;
    clear: both; /* indica que el elemento no debe aparecer ni a la izquierda ni a la derecha de ningún elemento 
    flotante previo, sino que debe colocarse debajo de todos ellos.*/
    padding: 10px 0px;
    text-align: center;
}